extends ../layouts/default

block content
    .container
        form(action='', method='post')
            if success
              h1 Mot de passe changé !
              p Votre mot de passe a bien été changé.
              a(href='/login') Retour à l'écran de connexion
            else
                if error
                    .alert.alert-danger
                        p Erreur.
                        
                .form-group(class=error ? 'has-error' : '')
                    label Nouveau mot de passe :
                    input(class='form-control', type='password', name='password', value=password)
                    span.help-block.
                        Votre mot de passe doit faire au moins 8 caractères.
                
                .form-group(class=error ? 'has-error' : '')
                    label Confirmation du mot de passe :
                    input(class='form-control', type='password', name='passwordConfirmation', value=passwordConfirmation)
                
                input(type='hidden', name='token', value=token)
                input(class='btn btn-primary', type='submit', value='Réinitiliser mon mot de passe')
